body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  color: #333;
  font-size: 32px;
  margin-bottom: 20px;
}

p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

form {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

select {
  height: 40px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  max-width: 800px;
  margin: 0 auto;
}

.grid-item {
  display: flex;
  flex-direction: column;
  width: 80%;

}

input,
select {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;

}

input[type="text"] {
  padding: 10px 20px;
  width: 80%;
  font-size: 16px;
  background-color: #ebb0d4;
  border: 1px solid #1d1b1b;
  border-radius: 4px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"] {
  width: 30%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



input[type="submit"]:hover {
  background-color: #45a049;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

h1 {
  text-align: center;
}

body {
  background-color: #f1f1f1;
}
