body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

h1 {
    color: #ff6f69;
    text-align: center;
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    width: 300px;
}

li {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

h1 {
    color: #ff6f69;
    text-align: center;
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    width: 300px;
}

li {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
