<!DOCTYPE html>
<html>
<head>
    <title>Sushi Restaurant Recommender</title>
</head>
<body>
    <h1>Sushi Restaurant Recommender</h1>
    <form action="/predict" method="post">
        <label for="rating">Rating:</label>
        <input type="text" id="rating" name="rating"><br><br>
        <label for="reviews">Reviews:</label>
        <input type="text" id="reviews" name="reviews"><br><br>
        <label for="price">Price:</label>
        <input type="text" id="price" name="price"><br><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>
